*/timeline.xctimeline
**/*/xcuserdata
**/*/xcshareddata
DerivedData
.DS_Store
logs/*
Boxkite.ipa
Boxkite.app.dSYM.zip
Package.itmsp/*
Carthage/Checkouts
Carthage/Build/Mac
fastlane/report.xml
fastlane/xcodebuild-data
buildkite-script*
test_output
Carthage/Build/iOS/*.bcsymbolmap
Carthage/Build/iOS/*.dSYM
Carthage/Build/tvOS
Carthage/Build/watchOS
fastlane/README.md
